/*****BASE STYLES*****/
body {
  font-family: 'Montserrat', Helvetica, Arial;
  margin: 0 auto;
  padding: 40px;
  width: 1200px;
 }

header h1 {
  font-size: 30px;
  font-height: 23px;
  font-weight: bold;
  text-transform: uppercase;
}

.black {
  color: black;
}

header h1 span {
  color: #77a466;

}
.Rogue {
  float:left;
  width: 50%;
}

.navigation {
  float: right;
  width: 50%;
  padding-top: 30px;
}

header nav a {

  font-family: 'Montserrat', Helvetica, Arial;
  color: #77a466;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  font-height: 18px;
  text-decoration: none;
  padding: 10px;
  width: 100%
}

.main-image {
  width: 100%;

}
.main-title h3 {
  font-size: 16px;
  font-height: 23px;
  font-weight: bold;
  color: #77a466;
  text-transform: uppercase;
  width: 100%;

}

.main-title p {
  color: #ffff;
  font-weight: normal;
  font-size: 16px;
  font-height: 25px;
}

.section-one, .section-two, .section-three {
  float: left;
  width: 30%;
  padding: 10px;
}
.section-one h4, .section-two h4, .section-three h4 {
  font-weight: bold;
  font-size: 12px;
  font-height: 25px;
  font-color: black;
}

.section-one, .section-two, .section-three {
  border-top: 1px solid #eee;
}
.section-one, .section-two {
border-right: 1px solid #eee;
}
.section-one li {
  font-size: 16px;
  font-height: 18px;
  text-decoration: none;
  font-color:  #665544;
  padding: 10px 20px 10px 0px
}

.section-two p {
  font-size: 16px;
  font-height: 21px;
}

.specials {
  color: #77a466;
  list-style-type: none;
  font-weight: normal;
  font-height: 18px;
  font-size: 16px;
  padding: 5px;
}

.reviews {
	color: #333;
	line-height: 21px;
	font-size: 16px;
}

.address {
	font-size: 16px;
	line-height: 24px;
}

/***FOOTER****/

footer {
  clear: both;
  width: 100%;

  padding-top: 50px;
  text-align: center;
  font-size: 16px;
  font-height: 23px;
  text-transform: uppercase;
}


footer h2 span {
  color: #77a466;
  font-family: font112379;
}

/* ----------- Mobile phones larger than 400px wide ----------- */
@media (min-width:400px) {
  body {
    background:orange;
}
}

/* ----------- Tablets larger than 768px wide ----------- */
@media (min-width:768px) {
  body {
    background:purple;
}
}

/* ----------- Monitors larger than 1200px wide ----------- */
@media (min-width:1224px) {
  body {
    background:green;
}
}
/* ----------- Large Monitors larger than 1600px wide ----------- */
@media (min-width:1824px) {
  body {
    background:blue;
}
}
